.mNoticeTitle{
    text-align: center;
    
}
.mNotice{
    background-color: rgb(55, 57, 58);
    color:white
}
.mTopic{
    font-weight: bold;
}
#trailer{
    background-color: black;
}
#mVideoFrame{
    margin: auto;
    height: 400px;
}
.mSynopsis{
    text-align: justify;
}

.mScrollDots{
    display:block;
    margin:auto;
    text-align: center;
}
#mAvatar{
    display:flex;
    flex-wrap: nowrap;
}
.mAvatarImage{
   
    width:95px;
    height:75px;
}
.mAvatarText{
    text-align: justify;
}
.mStar{
    color: rgb(255, 64, 0);
}
.carousel-control-prev,
.carousel-control-next{
    align-items: flex-start;; /* Aligns it at the top */
}

.carousel-control-prev,
.carousel-control-next{
    align-items: flex-end;; /* Aligns it at the bottom */
}